<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- log4net的定义 -->
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>

  <log4net>
    <logger name="logerror">
      <level value="ERROR"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <logger name="loginfo">
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--当前目录下-->
      <param name="File" value="Log\\LogError\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--&lt; &gt; = <> | %n = 回车-->
        <param name="ConversionPattern" value="Date:%d %nLevel:%-5p %nContent:%m%n%n"/>
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--当前目录下-->
      <param name="File" value="Log\\LogInfo\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--&lt; &gt; = <> | %n = 回车-->
        <param name="ConversionPattern" value="[%d]%m%n"/>
      </layout>
    </appender>
  </log4net>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>

  <appSettings>
    <add key="Port" value="8888"/>
    <add key="Path" value="/Fuck"/>
  </appSettings>

  <connectionStrings>
    <add name="SQLite" connectionString="data source=D:\\PG\\git-tempworkspace\\SocketTest\\GamePlatformServer\\db\\db.db;version=3;"/>
  </connectionStrings>

</configuration>
